.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  width: 200px;
  height: 100px;
  padding: 0;
  margin: auto;

  justify-content: bottom;
  align-items: bottom;
}

.friends > div > a {
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
}

.friends > div {
  height: 30px;
  line-height: 30px;
  background-color: rgb(183, 246, 212);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(0, 130, 156);
  flex: 1 1 auto;
  border: 1px rgb(68, 158, 168) solid;
  border-radius: 10px;
  text-align: center;

  margin: 5px;
  /* and that, will result in a 10px gap */
}

body {
  background-color: rgb(240, 221, 178);
}
